// variables

$primary-color: #25365d;
$text-color: #ffff;
$list-color: #ff2868;

// mixins

@mixin bgimg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin position($position_val) {
  position: $position_val;
}

@mixin mybtn {
  padding: 5px 20px;
  background: $primary-color;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  color: $text-color;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
}

@mixin hovereffects {
  background-color: $text-color;
  box-shadow: 0px 15px 20px rgba(255, 255, 157, 0.4);
  color: $main-color;
  transform: translateY(-7px);
}

@mixin flexboxdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
